@import '~@fluentui/react/dist/sass/References.scss';

.rootCauseAnalysis {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }

}
  :global {
  #O365_NavHeader, .commandBarWrapper, #SuiteNavPlaceHolder {
    display: none !important;
  }
  #workbenchPageContent {
    max-width: initial !important;
    width: 100% !important;
  }
  #SuiteNavWrapper{
    display:none !important;
  }
  .CanvasZone {
    max-width: none !important;
    padding: 0px 0px !important;
  }
  .k_e_50a7110f{
    max-width: none !important;
    width:inherit !important;
  }
  .a_e_50a7110f{
    padding: 0px !important;
    margin: 0px !important;
  }
  .a_f_50a7110f:not(.b_f_50a7110f) .p_f_50a7110f.q_f_50a7110f {
    box-sizing: border-box;
    max-width: none !important;
    padding: 0 !important;
    width: inherit !important;
  }
  .a_b_50a7110f:not(.b_b_50a7110f) .g_b_50a7110f{
    display: flex;
    max-width: 100% !important;
    margin-top: 4% !important;
    width:inherit !important;
  }
  .spAppAndPropertyPanelContainer .sp-appBar{
    display:none !important;
  }

  div[data-automation-id="CanvasZone"] > div:first-child {
    max-width: 100% !important;
    padding:0px !important;
    width:100% !important;
  }
  div[data-automation-id="CanvasZone"]{
    padding-right: 0px !important;
    margin-left: 0px !important;
  }
  .CanvasZone:not(.CanvasZone--fullWidth) .ControlZone {
    padding: 0px !important;
  }
  .CanvasSection--read .ControlZone:last-of-type {
      margin-bottom: 0px !important;
  }
  .CanvasSection--read .ControlZone {
      margin-top: 0px !important;
  }
  .CanvasSection-col {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .webPartContainer{
    display:none !important;
  }
  .qz_bx_k{
    display:none !important;
  }
  div[class^='headerRow-']{
    display:none !important;
  }
  div[id='spLeftNav']{
    display:none !important;
  }
  div[class^='spNav_']{
    display:none !important;
  }
  div[class^='gradientBox_']{
    display:none !important;
  }
  div[class^='parallaxContainer_']{
    display:none !important;
  }
  div[class^='commentsWrapper_']{
    display:none !important;
  }
  div[class^='scrollRegion_']{
    overflow: visible !important;
  }
  div[data-sp-feature-tag='Comments']{
    display:none !important;
  }
  /* Scrollbar styling */
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  ::-webkit-scrollbar-thumb {
      background-color: #c2c2c2;
      border-radius: 10px;
      border: 1px solid #aeaeae;
  }
  ::-webkit-scrollbar-track {
      background: #fff;
  }
  /* Font and outline resets */
  *{
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  }
  *,*:focus,*:hover{
    outline:none !important;
  }
}
.actionRow {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
  background: #f8f9fa;

  >* {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.actionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dee2e6;

  >span {
    font-weight: 600;
    color: #333;
  }
}